{{ partial "header.html" . }}
<div class="section main">
    <div class="container">
        <div class="content">
			<div class="page-heading">gallery</div>
			{{ range .Site.Data.gallery }}
				{{ if eq .order 1 }}
					<div class="my-gallery-albums">
					<a href="{{.album_path}}">
						<img src="gallery/{{.album}}/{{.thumbnail_filename}}"alt="{{.description}}" />
						<br />{{.album_name}}
					</a>
					</div>
				{{ end }}
			{{ end }}
        </div>
    </div>
</div>
{{ partial "footer.html" . }}


